NODE_ENV="development"
APP_PORT=3001
APP_DOMAIN="tamilweddingbook.com"
LOCAL_URL="http://localhost:${APP_PORT}"
LIVE_URL="http://localhost:${APP_PORT}"
CLIENT_URL="http://localhost:3000"

DB_HOST=localhost
DB_NAME=twb
DB_USER=postgres
DB_PASS=root
DB_PORT=5432
DB_DIALECT=postgres

MAIL_MAILER=smtp
MAIL_HOST=smtp.ionos.com
MAIL_PORT=587
MAIL_USERNAME=smtp@tamilbook.com
MAIL_PASSWORD=applications@digiconn
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS='smtp@tamilbook.com'
MAIL_FROM_NAME="Tamil Book"
MAIL_TO_ADDRESS='some@tamilbook.com'
MAIL_TO_NAME="Tamil Book Company"

TOKEN_SECRET=ACJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSIATT6InRhbWlsQm9vayIsImV4cCI6MTY4NDg3MDY5NywiaWF0IjoxNjg0ODcwNjk3fQ
CRYPTO_JS_KEY="eyZzetamilweddingbook.nyant.coders.202023.SeCrEtKey.cypto.digi.conn"